<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
</head>

<body>
        <h1>Integrify Students' Photo Gallery</h1>
    <ul>
        <li><a href="/students">Students Api</a></li>
         <li><a href="/add-student">Add Student</a></li>
        <hr />
        
    </ul>

    <div class="flex-container" style="border:2px solid green">
        <% studentsInfo.forEach(function(student){ %>
    <div>
        <div style="border:3px solid orange;">
                <h2><%= student._id %> . <%= student.firstName %> <%= student.lastName %></h2>
                <a href="/students/<%= student._id %>">
                    <img src="/images/<%= student.src %>">
                </a>

        </div>
        <div class="student-detail">
                <li><%= student.nationality %></li>
                <li><%= student.title %></li>
                <li><%= student.skills %></li>
                <li><%= student.whySofterDeveloper %></li>
               
                <li><%= student.motivatesMe %></li>
                <li><%= student.favoriteQuote %></li>
                <li><%= student.joinedOn %></li>
                <button>Delete</button>
        </div>
    </div>
            
<%}) %>


    </div>

</body>

</html>