<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= _id %>.<%= firstName %> <%= lastName %></title>
</head>
<body>

    <div class="single-student">
        <div class="image">
                <img src="/images/<%= src %>" /> 
        </div>
        
        <div class="image-detail">
            <h1><%= _id %>. <%= firstName %> <%= lastName %> </h1> 
            <li>Nationality: <%= nationality %></li>
            <li>Title: <%= title %></li>
            <li>Skills: <%= skills %></li>
            <li>Why a software developer: <%= whySofterDeveloper %></li>
        
            <li>What motivates you?<%= motivatesMe %></li>
            <li>Favorite quote:<%= favoriteQuote %></li>
            <li>Date joined<%= joinedOn %></li>
            <a href="/">Back</a>
        </div>  
    
    </div>
</body>
</html>