<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Added User</title>
</head>
<body>
    <h1>Deleted User</h1>
       <li><%= user._id %> <%= user.firstname %> <%= user.lastname %> <%= user.content%> <%= user.read %></li> 
</body>
</html>